<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <%- include( './component/header.ejs' ) %>
      <div class="container mt-5">
        <div class="container card mb-3" style="max-width: 1080px; height: 540px;">
          <div class="container row g-0">
            <div class="container col-md-8">
              <form action="/post/edit?_method=PUT" method="POST" id="form">
                <div class="container card-body">
                  <input type="hidden" id="postId" name="postId" value="<%= searchData._id %>">
                  <div class="input-group input-group-sm mb-3">
                    <p class="card-title">작성자 : </p>&nbsp;&nbsp;<input type="text" class="form-control" readonly value="<%= searchData.username %>" id="username" name="username">
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <p class="card-title mr-2">제목 &nbsp;: </p>&nbsp;&nbsp;<input type="text" class="form-control" disabled value="<%= searchData.subject %>" id="subject" name="subject">
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <p class="card-text mr-2">내용 &nbsp;: </p>&nbsp;&nbsp;<input type="text" class="form-control" disabled value="<%= searchData.content %>" id="content" name="content">
                  </div>
                  <small class="text-muted">게시글 상세보기 페이지임.</small>
                </div>
                <input type="hidden" value="<%= searchData.fileName %>" name="fileName">
              </form>
              <div class="container" style="width: 20rem; height: 20rem;">
                <img src="/post/getImage/<%= searchData.fileName %>" class="card-img-top">
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-outline-dark" onclick="location.replace( '/list' )">취소</button>
                <% if( user ) { %>
                  <% if( user.username == searchData.username ) { %>
                    <button class="btn btn-primary" type="button" id="modifyActive">수정</button>
                    <button class="btn btn-primary" type="button" id="modifyComp" style="display: none;">수정 완료</button>
                    <button class="btn btn-danger" type="button" onclick="deleteBtn( `<%= searchData._id %>`, `<%= searchData.username %>` )">삭제</button>
                  <% } %>
                <% } %>
            </div>
        </div>
        <div class="container mt-3">
          <div class="card">
            <div class="card-header">
                <% for( const reply of replyInfo ) { %>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <div><%= reply.replyContent %></div>
                        <div class="d-flex">
                          <div class="font-italic mr-2">작성자 : <%= reply.replyWriter %></div>
                          <input type="hidden" class="form-control ml-2" id="replyWriter" value="<%= reply.replyWriter %>" readonly>
                          <% if( user && reply.replyWriter == user.username ) { %>
                            <button class="badge" onclick="replyDelete( `<%= reply._id %>` )">삭제</button>
                          <% } %>
                        </div>
                      </li>
                    </ul>
                  <% } %>
              </div>
            </div>
        </div>
        <% if( user ) { %>
          <div class="container w-50 h-40">
            <div class="card mt-5 mb-2">
              <div class="card-header bg-light">
                <i class="fa fa-comment fa"></i> REPLY
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="container">
                      <div class="form-inline mb-2">
                        <label for="replyId"><i class="fa fa-user-circle-o fa-2x"></i></label>
                        <input type="hidden" class="form-control ml-2" id="replyId" value="<%= user.username %>" readonly>
                      </div>
                      <textarea class="form-control" id="replyAria" rows="2"></textarea>
                    </div>
                    <button type="button" class="btn btn-dark mt-3" onClick="addReply( `<%= searchData._id %>` )">작성</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% } %>
      </div>
  </body>
  <script>
    $( "#modifyActive" ).click( () => {
      $( "#subject" ).attr( "disabled", false );
      $( "#content" ).attr( "disabled", false );

      $( "#modifyActive" ).hide();
      $( "#modifyComp" ).show();
    } );

    $( "#modifyComp" ).click( () => {
      $( "#modifyActive" ).show();
      $( "#modifyComp" ).hide();

      $( "#form" ).submit();
    } );

    const deleteBtn = ( postNum, userInfo ) => {
      if( !confirm( "게시글을 삭제할까요?" ) ) return;
      if( !userInfo.username ) {
        alert( "로그인 후 이용해주세요." );
        return;
      }
      $.ajax( 
        {
          method : "DELETE",
          url    : "/post/delete",
          data   : {
            _id  : postNum,
            username : userInfo.username
          }
        }
       ).done( ( res ) => {
        location.replace( "/list" );
       } ).fail( ( xhr, textStatus, errorThrown ) => {
        console.log(xhr, textStatus, errorThrown);
       } );
    }

    const addReply = ( postNum ) => {
      const replyText = $( "#replyAria" ).val();
      const userInfo = $( "#replyId" ).val();
      if( !replyText ) { 
        alert( "댓글을 입력해주세요." );
        return;
      }

      $.ajax(
        {
          method : "post",
          url    : "/post/addReply",
          data   : {
            postNum : parseInt( postNum ),
            replyWriter : userInfo,
            replyContent : replyText
          },
          success : ( res ) => {
            console.log(res);
            location.reload();
          },
          fail : ( err ) => {
            console.log(res);
          }
        }
      );
    }

    const replyDelete = ( replyId ) => {
      $.ajax(
        {
          method : "DELETE",
          url    : "/post/deleteReply",
          data   : {
            replyId : replyId
          },
          success : ( delRes ) => {
            if( delRes == "delSuc" ) {
              location.reload();
            }
          },
          fail : () => {
            alert( "에러가 발생했습니다. 잠시 후 다시 시도해주세요." );
            return;
          }
        }
      )
    }
  </script>
</html>