<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <%- include( './component/header.ejs' ) %>
      <div class="container mt-5">
        <div class="container card mb-3" style="max-width: 1080px; height: 540px;">
          <div class="container row g-0">
            <div class="container col-md-8">
              <form action="/edit?_method=PUT" method="POST" id="form">
                <div class="container card-body">
                  <input type="hidden" id="postId" name="postId" value="<%= searchData._id %>">
                  <div class="input-group input-group-sm mb-3">
                    <p class="card-title">제목 : </p>&nbsp;&nbsp;<input type="text" class="form-control" disabled value="<%= searchData.subject %>" id="subject" name="subject">
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <p class="card-text">내용 : </p>&nbsp;&nbsp;<input type="text" class="form-control" disabled value="<%= searchData.content %>" id="content" name="content">
                  </div>
                  <small class="text-muted">게시글 상세보기 페이지임.</small>
                </div>
              </form>
              <div class="container" style="width: 20rem; height: 20rem;">
                <img src="/post/getImage/<%= searchData.fileName %>" class="card-img-top">
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-outline-dark">Back</button>
                <button class="btn btn-primary" type="button" id="modifyActive">Modify</button>
                <button class="btn btn-primary" type="button" id="modifyComp" style="display: none;">Modify Comp</button>
                <button class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
      </div>
  </body>
  <script>
    $( "#modifyActive" ).click( () => {
      $( "#subject" ).attr( "disabled", false );
      $( "#content" ).attr( "disabled", false );

      $( "#modifyActive" ).hide();
      $( "#modifyComp" ).show();
    } );

    $( "#modifyComp" ).click( () => {
      $( "#modifyActive" ).show();
      $( "#modifyComp" ).hide();

      $( "#form" ).submit();
    } );
  </script>
</html>