<!doctype html>
<html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
  </head>
  <body>
    <%- include( './component/header.ejs' ) %>
    <div class="container mt-5">

      <h4 class="ml-2 my-3 text-center">글 리스트들</h4>
      <div class="container input-group mb-2">
        <input class="form-control" id="searchStr">
        <button class="input-group-append btn btn-danger" onclick="searchBtn()">검색</button>
      </div>

      <ol class="list-group list-group-numbered">
        <% var i = 1; %>
        <% for( const res of results ) { %>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <p>글 번호 : <%= i %></p>
              <a href="/detail/<%= res._id %>"><h4>할 일 : <%= res.subject %></h4></a>
              <p>기간 : <%= res.content %></p>
              <button type="button" class="btn btn-danger" onclick="deleteBtn( `<%= res._id %>` )">삭제</button>
            </div>
            <!-- <span class="badge bg-primary rounded-pill"></span> ==> 나중에 댓글 갯수 넣을예정 -->
          </li>
        <%  i++; } %>
      </ol>
      <div class="container row justify-content-center mt-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
  <script>
    const deleteBtn = ( postNum ) => {
      $.ajax( 
        {
          method : "DELETE",
          url    : "/delete",
          data   : {
            _id : postNum
          }
        }
       ).done( ( res ) => {
        console.log(res);
        location.reload();
       } ).fail( ( xhr, textStatus, errorThrown ) => {
        console.log(xhr, textStatus, errorThrown);
       } );
    }

    const searchBtn = () => {
      window.location.replace( `/search?value=${ $( "#searchStr" ).val() }` );
    }

    /**
     * $.param : 안에 Object형 => { searchStr1 : str1, searchstr2 : str2 } 을 넣어주면 parameter형태로 변환
     * $(form).serialize() => form Tag안의 input Tag에 name을 기준으로 데이터를 모아서 parameter형태로 변환
     * $.param( new Object() );
     * $("form").serialize();
     */
  </script>
</html>